pip install numpy
pip install pandas
pip install matplotlib
pip install seaborn
pip install plotly
pip install dash
pip install dash_bootstrap_components
pip install dash_core_components
pip install dash_html_components
